.footer
    .footer_content
        .footer_about
            h4 About Us
            p
                | Visit our restaurant to experience our relaxing atmosphere, to find
                | a peace of mind and to enjoy our diverse, delicious, gourmet menu.
                | Our extensive choice of side and main dishes and appetizers, as well
                | as NA and alcoholic beverages are made to make your taste buds
                | happy!
        .footer_contact
            h4 Contacts Us
            p
                i.fa-solid.fa-location-dot
                |  6087 Richmond hwy,
                |             Alexandria, VA
            p
                i.fa-solid.fa-clock
                |  Mo-Fr 11:00-00:00, Sa-Sa
                |             15:00-00:00
            p
                i.fa-solid.fa-phone-flip
                span 0905000111
            p
                i.fa-solid.fa-envelope
                span mail@gmail.com
