extends base
block content 
    .contact_heading.page_heading 
        h3 Contact Page
    .contact
        .contact_content
            .contact_contactUs
                h3 Contact Us
                p 44 Canal Center Plaza #200, Alexandria,
                p VA 22314, USA
                p.contact_me TEL: 1.555.836.6767
                p.contact_me MAIL: bettaso@demolink.org
                p Want to join the team?
                p
                    a.contact_me(href='') Apply Today
            .contact_working
                h3 Working hours
                p Mo-Fr 11:00-00:00
                p Mo-Fr 11:00-00:00
                p Call us at:
                p.contact_me 555.999.111
                button Make an online reservation
    .contact
        .contact_content
            .contact_touch
                h3 Get in touch
                p
                    | Bettaso family Restaurant is situated at the very historical heart
                    | of Alexandria, VA. Our address is well known to locals as the most
                    | home-like, and delicious place in the city!
                p
                    | Please contact us using the form on the page in regards to any
                    | questions you mignht have, or to make a booking with us
            .contact_form
                .contact_form_info
                    input(type='text' placeholder='Your name')
                    input(type='text' placeholder='Phone')
                    input(type='email' placeholder='Email')
                textarea(name='' id='' cols='30' rows='10' placeholder='Your message')
                button Submit


